<!DOCTYPE HTML>
<html>
<head>
    <title>Մեր մասին</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="content">      
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/ArmInfo.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/Sightseeings.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        </div>
</body>
</html>