
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

<!DOCTYPE html>

<html>
<head>    
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Sightseeings</title>
</head>
<body>
    <span>
        Sed ut perspiciātis unde omnis iste nātus error sit voluptātem accūsantium dolōremque laudantium, tōtam rem aperiam, eaque ipsa quae ab illō inventōre vēritātis et quasi architectō beātae vītae dicta sunt explicābō. Nēmō enim ipsam voluptātem quia voluptās sit āspernātur aut ōdit aut fugit, sed quia cōnsequuntur magnī dolōrēs eōs quī ratiōne voluptātem sequī nesciunt. Neque porrō quisquam est, quī dolōrem ipsum quia dolor sit amet, cōnsectētur, adipīscī velit, sed quia nōn numquam eius modī tempora incidunt ut labōre et dolōre magnam aliquam quaerat voluptātem. Ut enim ad minima veniam, quis nostrum exercitātiōnem ūllam corporis suscipit labōriōsam, nisi ut aliquid ex eā commodī cōnsequātur? Quis autem vel eum iūre reprehenderit quī in eā voluptāte velit esse quam nihil molestiae cōnsequātur, vel illum quī dolōrem eum fugiat quō voluptās nūlla pariātur?
    </span>
    <div class="content">

        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
        <div class="gallery">
            <img src="~/images/AboutUs.png" alt="Cinque Terre">
            <div class="desc"> Նկարագրություն</div>
        </div>
    </div>
</body>
</html>
