<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Arm Tour</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="logo">
        <img src="~/favicon.ico" alt="Logo" />
    </div>
    <div id="headerRight">
        <ul>
            <li><a href="~/Home/Index"> Գլխավոր</a></li>
            <li>
                <a href="~/Home/AboutUs">Մեր մասին</a>
            </li>
            <li class="dropdown">
                <a class="dropButton">Ընտրել լեզուն</a>
                <div class="dropdownContent">
                    <a href="#">Հայ</a>
                    <a href="#">En</a>
                    <a href="#">Рус</a>
                    <a href="#">中文</a>
                    <a href="#">العربية</a>
                </div>
            </li>
        </ul>
    </div>
    <hr />

    <div class="optionsContainer">
        <ul class="optionList">
            <li> <a href="~/Home/Sightseeings">Գեղատեսիլ վայրեր</a></li>
            <li> <a href="~/Home/Sightseeings"> Արկածներ </a></li>
        </ul>

        <form class="search">
            <input type="text" name="querry" placeholder="Որոնում" />
            <input type="submit" value="Որոնել" />

        </form>
    </div>
    <hr />

    <div class="offers">
        <div class="categories">
            <label for="touch"><span>Բաժիններ</span></label>
            <input type="checkbox" id="touch">
            <ul class="slide">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
        </div>

        <div class="categories">
            <label for="touch"><span>Մարզեր</span></label>
            <input type="checkbox" id="touch">
            <ul class="slide">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
            </ul>
            <div class="categories">

                <label for="touch"><span>Բնակավայրեր</span></label>
                <input type="checkbox" id="touch">
                <ul class="slide">
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <hr />
        <footer>
        </footer>
    </div>





</body>
</html>
